<!-- <h1 class="heading">-:Temperature Conversion:-</h1> -->
<p class="heading2"> Celcius/Kelvin to Fahrenheit</p>
<br>
<div class="main-body">

    <input type="number" id="name" name="degree" class="inputBox" placeholder="Degrees" #inputBox>
    <mat-form-field appearance="fill">
        <mat-select [(value)]="selected" class="select" placeholder="Type" required>
            <mat-option value="Celcius">Celcius</mat-option>
            <mat-option value="Kelvin">Kelvin</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button color="primary" class="convert-button" (click)="temperatureConverter(inputBox.value)">Convert</button>
</div>

<br>
<h1 *ngIf="display" class="result">Result: {{inputBox.value}} degrees {{this.selected}} = {{result | number : '1.2-2'}} °F</h1>


