
<h1 class="heading">Temperature Conversion</h1>
<br>
<div class="third">
  <input type="number" name="degree" class="inputBox" #inputBox>
<mat-form-field appearance="fill" >
  <mat-select [(value)]="selected" class="select">
    <mat-option value="Fahrenheit">Fahrenheit</mat-option>
    <mat-option value="Celcius">Celcius</mat-option>
  </mat-select>
</mat-form-field>
  <button mat-button color="primary" class="example-button-row" (click)="temperatureConverter(inputBox.value)" >Convert</button>
</div>

<br>
<h1 class="result">Result: {{result}}</h1>


