
* {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  }

  // .First{
  //   // background-color: lightgrey;
  //   width: 100%;
  //   border: 15px solid green;
  //   padding: 50px;
  //   margin: auto; 
  //   display: flex;
  //   background-color: cadetblue;
  // }

  .heading{
    color: blue;
  }

  .third{
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 25vh;
    background-color: cadetblue;
    // padding: 50px;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
    // margin-top: auto;
    // margin-right: 7px;
    // margin-bottom: 2px;
    // margin-left: 7px;
    // border: 1px solid #ccc;
    // padding: 20px;
    outline: none;
    border: 15px solid green;
    background-color: yellow;
    
  }
  
  .example-button-row {
    width: 20%;
    height: 10vh;
    background-color: blue;
    color: white;
    
    }
    
  
  .inputBox{
    width: 20%;
    height: 9vh;
    white-space: normal;
  }

  

  .select{
    height: 3vh;
    width: 100%;
    background-color: white;
  }

  .result{
    color: blue;
  }