* {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.heading {
  color: red
}

.heading2 {
  color: blue;
}


.main-body {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 25vh;
  background-color: cadetblue;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
  outline: none;
  border: 15px solid green;
  background-color: yellow;

}

.inputBox {
  width: 20%;
  height: 9vh;
  white-space: normal;
}

.select {
  height: 3vh;
  width: 100%;
  background-color: white;
}

.convert-button {
  width: 20%;
  height: 10vh;
  background-color: blue;
  color: white;
  font-size: 150%;
}


.convert-button:hover{
  background-color: brown;
}


.result {
  color: blue;
}

.fill {
  border-radius: 4px 4px 0 0;
  padding: .75em .75em 0 .75em;
  background-color: white;
}

